<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417410008114-fglealk4g8du4criue67v0j0hi5h5074.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417410008114-fglealk4g8du4criue67v0j0hi5h5074</string>
	<key>API_KEY</key>
	<string>AIzaSyBNmV4zvJRjLE2SC2eC5u2LHE2NRNW3S00</string>
	<key>GCM_SENDER_ID</key>
	<string>417410008114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gnld</string>
	<key>PROJECT_ID</key>
	<string>gnld-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>gnld-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417410008114:ios:2726122ff8eac1f120282b</string>
	<key>DATABASE_URL</key>
	<string>https://gnld-sample.firebaseio.com</string>
</dict>
</plist>