<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555799761636-5pugckkr0b1hl90nh21u45o9omjs1lv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555799761636-5pugckkr0b1hl90nh21u45o9omjs1lv7</string>
	<key>API_KEY</key>
	<string>AIzaSyA28Rg5MjeaisdAuUgIFH4_4E4F2Xz2-Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>555799761636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gnld</string>
	<key>PROJECT_ID</key>
	<string>gnld-project</string>
	<key>STORAGE_BUCKET</key>
	<string>gnld-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555799761636:ios:952c1a952db4a1cb53d2f1</string>
	<key>DATABASE_URL</key>
	<string>https://gnld-project.firebaseio.com</string>
</dict>
</plist>